body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-grid > div {
    margin: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    margin: 20px 0;
  }